@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
p,a{
    font-family: 'Roboto', sans-serif;
}

.text-shadow{
    text-shadow: 3px 3px 7px #000;
}
h1.active{
    color: #000;
}
.search-form{
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s;
}
.search-form.active{
    transform: translateY(0);
    opacity: 1;
}